# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log

# Tests
/coverage

# JetBrains IDEs
/.idea

# IDE - VSCode
.vscode/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

README.md
src/generated
